.animation-bounce-smooth {
  animation: bounce-smooth 3s ease-in infinite;
}
@keyframes bounce-smooth {
  0%,
  100% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0);
  }
}
