$black-opacity: rgba(
  $color: #000000,
  $alpha: 0.2,
);

:root {
  // colors
  --primary-color-lighter: #fcf5dc;
  --primary-color: #d1b561;
  --primary-color-darker: #a67e36;
  --shadow-color: #e8eae2;
  --black-opacity: $black-opacity;
  --facebook-blue: #4064ac;
  --linkedin-blue: #0077b5;
  --instagram-pink: #e33f5f;
  --bg-white: #efefef;
  --black: #101010;
}
